<form action="/addproducts" method="post" class="form-login-admin">
  <p>
    <label for="">Name of Product</label>
    <input type="text" name="productName" id="" />
  </p>
  <p>
    <label for="">Quantity</label>
    <input type="number" name="quantity" id="" />
  </p>
  <p>
    <label for="">Purchase Price</label>
    <input
      type="number"
      name="purchasePrice"
      placeholder="How much did you buy it?"
      id=""
    />
  </p>
  <p>
    <label for="">Sale Price</label>
    <input
      type="number"
      name="salePrice"
      placeholder="How much are you selling it?"
      id=""
    />
  </p>
  <button type="submit">Add Product</button><br />
  <a href="/dashboard">Back</a>
</form>
